/*** fonts.css ***/

body {
  --min: 1; /* 16 */
  --max: 1.5; /* 24 */

  font-size: var(--clamp);
  color: var(--color-text);
  font-family: var(--font-sans-serif);
  font-weight: var(--font-normal);
  font-style: normal;
  line-height: var(--lh-base);
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p {
  margin-bottom: calc(var(--lh-base) * 1em);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-serif);
  font-weight: var(--font-normal);
  color: var(--color-text-h);
  line-height: var(--lh-h);
  margin-bottom: calc(var(--lh-h) * 0.4em);
  padding-top: calc(var(--lh-h) * 1em);;
}

h1,
.h1 {
  --min: 2.5; /* 40 */
  --max: 6; /* 96 */

  font-size: var(--clamp);
}

h2,
.h2 {
  --min: 2; /* 32 */
  --max: 4.2; /* 67.2 */

  font-size: var(--clamp);
}

h3,
.h3 {
  --min: 1.6; /* 25.6 */
  --max: 3.5; /* 56 */

  font-size: var(--clamp);
}

h4,
.h4 {
  --min: 1.28; /* 20.5 */
  --max: 2.8; /* 44.8 */

  font-size: var(--clamp);
}

h5,
.h5 {
  --min: 1.18; /* 18.9 */
  --max: 2.0; /* 32.0 */

  font-size: var(--clamp);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: var(--lh-h);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

strong,
.strong {
  font-weight: var(--font-bold);
}

.small {
  --min: 0.75; /* 12 */
  --max: 1.125; /* 18 */
  font-size: var(--clamp);
}
