/*** code.css ***/
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera*/
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code:not(pre code) {
	display: inline-block;
	--min: 0.75;
	--max: 1.125;
	font-size: var(--clamp);
	font-family: var(--font-mono);
	background-color: #fffbfcee;
  border: .1rem solid var(--color-text);
	border-radius: 0.25rem;
	padding: 0 0.5rem;
  margin: 0 0.25rem;
}


pre code {
  display: block;
  white-space: pre;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  min-width: 100px;
  border-radius: 1rem;
}

pre {
  margin-bottom: calc(var(--lh-base) * 1em);
  border-radius: 1.5rem;
}

code.hljs {
  --min: 0.75; /* 12 */
  --max: 1.125; /* 18 */
  font-size: var(--clamp);
  font-family: var(--font-mono);
  line-height: var(--lh-base);
  padding: calc(var(--lh-base) * 1.5rem);
}