    <script>
        const list = document.getElementsByClassName('menu-btn');
        const domain = window.location.protocol + '//' + window.location.host;
        const adress = window.location.href.replace(domain,'');
        let current = 0;
        for (let i = 0; i < list.length; i++) {
            if (adress.search(list[i].getAttribute('href')) === 0) {
                current = i;
                list[current].className = 'menu-btn active';    
            };
        };

        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
        const currentTheme = localStorage.getItem('theme');

        if (currentTheme) {
            document.documentElement.setAttribute('data-theme', currentTheme);
            if (currentTheme === 'dark') {
                toggleSwitch.checked = true;
            }
        }

        function switchTheme(e) {
            if (e.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            }
            else {
                document.documentElement.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            }
        }
        toggleSwitch.addEventListener('change', switchTheme, false);
    </script>
    </body>
</html>	
