<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAppDev</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ siteurl }}/style.css">
  </head>
  <body class="container">
    <header>
      <a class="s-logo" href="/">{{ sitename }}</a>
      <nav class="navi">
        <a class="menu-btn" href="/javascript"><span>01</span>Javascript</a>
        <a class="menu-btn" href="/html"><span>02</span>Html</a>
        <a class="menu-btn" href="/css"><span>03</span>Css</a>
        <div class="theme-switch-wrapper">
          <label for="checkbox" class="theme-switch">
            <input type="checkbox" id="checkbox">
            <div class="slider round"></div>
          </label>
        </div>
      </nav>
    </header>