{{>header }}
  <h1 class="center padding-top-4">{{ title }}</h1>
  <p class="center excerpt"><span>{{ formattedDate date }} @ {{ collections }}</span></p>
  <main class="padding-col-0-14 padding-top-2">
  {{{ contents }}}
  </main>
{{>footer }}
